.body {
    font-family: "Raleway", "Roboto", sans-serif;
  }
.link:hover{
    color: #2196F3;
  }
  .btn-elemento:focus{
    color: orange;
  }

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.study{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
.word{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;

}
.phone{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.fondo{
background: #2F303A;
}
.main-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.btn-principal{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
}
.-subtitles{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #212121;
}
.text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.subsection{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.names{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}
.definition{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}
.location{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.item{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: #FFFFFF;
background: #2196F3;
}
.items{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: #212121;
}
.name-site{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.description{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}


 